name: cascade_picker
description: 级联选择器
version: 0.0.7
author: xionghaoo <xionghao930316@gmail.com>
homepage: https://github.com/xionghaoo/cascade_picker

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/
